<a href="{{ link }}" class="block aspect-w-16 aspect-h-9">
  <div class="bg-{{ color }} rounded text-center flex flex-col justify-center items-center">
    <h1 class="border-b font-bold uppercase w-4/5 mx-auto text-2xl">{{ title }}</h1>
    <h2 class="uppercase w-4/5 mx-auto">{{ subtitle }}</h2>
  </div>
</a>
