<main class="m-admin-body">

  <section class="m-admin-body--main">
    <header>
      <h1>Events</h1>
    </header>

    <ul>
    <% @events.each do | event | %>
      <li class="a-resource">
        <div class="a-resource__details">
          <h2 class="a-resource__title"><%= event.title %></h2>
        </div>
        <div class="a-resource__actions">
          <%= link_to "Edit", edit_admin_event_path(event), class: 'u-btn' %>
        </div>
      </li>
    <% end %>
    </ul>
  </section>

  <section class="m-admin-body--sidebar">
    <%= link_to "Create new", new_admin_event_path(), class: 'u-btn u-btn--primary' %>
  </section>

</main>
