
<section class="c-description-box c-description-box--lark-green">
  <div class="site-container c-description-box__inner">
    <div class="c-description-box__side">
      <div class="img-container img-container--circle js-object-fit-container">
        <%= image_tag(@person.avatar_600.try('remote_url')) if @person.avatar_600 %>
      </div>
    </div>

    <div class="c-description-box__content">
      <h1 class="c-description-box__title">
        <%= @person.display_name %>
      </h1>

      <%= render @person.biography %>
    </div>
  </div>

</section>

<div class="site-container">
  <%= render('/shared/vision_box') %>
</div>
