  <%= render('/shared/vision_box', uncontained: true) %>
<div class="site-container">
</div>

<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4.30pm in the Hodgkin Building, on Guy's Campus (Newcomen Street, SE1 1UL)</h2>
        <a href="https://goo.gl/maps/Qc3bUfA2arP2" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>

  <%= render('/shared/promo_box',
             img: {
              "320": asset_url("static-banner/christmas/christmas_320.jpg"),
              "640": asset_url("static-banner/christmas/christmas_640.jpg"),
              "960": asset_url("static-banner/christmas/christmas_960.jpg"),
              "1280": asset_url("static-banner/christmas/christmas_1280.jpg"),
              "1920": asset_url("static-banner/christmas/christmas_1920.jpg"),
              "2560": asset_url("static-banner/christmas/christmas_2560.jpg"),
            },
             link: '/christmas',
             pretitle: 'Christmas 2017',
             title: 'Carol services near the Southbank',
             cta: 'Find out more') if @latest_sermon %>
<br /><br />
  <%= render('/shared/promo_box',
             img: @latest_sermon.banner['image'],
             link: @latest_sermon,
             title: @latest_sermon.title,
             pretitle: 'Listen back to the latest recording',
             cta: 'Go to sermon recording') if @latest_sermon %>

</div>
