<%= render('/shared/vision_box', uncontained: true) %>

<div class="site-container">
  <%= render('/shared/join_us') %>

  <%= render('/shared/promo_box',
             img: @latest_sermon.banner['image'],
             link: @latest_sermon,
             title: @latest_sermon.title,
             pretitle: 'Listen back to the latest recording',
             cta: 'Go to sermon recording') if @latest_sermon %>
</div>
