  <%= render('/shared/vision_box', uncontained: true) %>
<div class="site-container">
</div>

<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4.30pm in the Hodgkin Building, on Guy's Campus (Newcomen Street, SE1 1UL)</h2>
        <a href="https://goo.gl/maps/Qc3bUfA2arP2" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>

  <%= render('/shared/promo_box',
             img: @latest_sermon.banner['image'],
             link: @latest_sermon,
             title: @latest_sermon.title,
             pretitle: 'Listen back to the latest recording',
             cta: 'Go to sermon recording') if @latest_sermon %>

</div>
