# The environment Craft is currently running in (dev, staging, production, etc.)
ENVIRONMENT=production

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID=GlobeCraftCMS

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY={{ craft_security_key }}

# The database driver that will be used (mysql or pgsql)
DB_DRIVER=mysql

# The database server name or IP address
DB_SERVER=127.0.0.1

# The port to connect to the database with
DB_PORT=3306

# The name of the database to select
DB_DATABASE={{ mysql_globe_database }}

# The database username to connect with
DB_USER={{ mysql_globe_user }}

# The database password to connect with
DB_PASSWORD={{ mysql_globe_password }}

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA=public

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=


PRIMARY_SITE_URL="https://next.globe.church"

# The DigitalOcean API key with read/write access to Spaces
SPACES_API_KEY={{ do_spaces_key }}

# The DigitalOcean API key secret
SPACES_SECRET={{ do_spaces_secret }}

# The (origin) API endpoint (w/o bucket name, ie https://nyc3.digitaloceanspaces.com)
SPACES_ENDPOINT="https://ams3.digitaloceanspaces.com"

# The region the Spaces bucket is in
SPACES_REGION="ams3"

# The name of the Spaces bucket
SPACES_BUCKET="tgc-assets"

# Imager folder in Spaces
IMAGER_SPACES_FOLDER="imgr"
