<div class="r-featureImageSelector"
      data-inputId="txt-featured-image"
      data-selectImageId=""
      data-selectedImageThumbnail=""></div>

<input type="text" id="txt-featured-image" />

<div>
  <% @graphic.each do |g| %>
    <%= image_tag g.background_image_thumbnail.try(:remote_url),
                      class: 'listing__image' %>
  <% end %>
</div>

<style>

  .m-featureImageSelector__preview {
    max-width: 200px;
  }
  .m-featureImageSelector__popup__upload {
    width: 500px;
    height: 300px;
    border: 3px dashed #ccc;
    padding: 20px;
    background-size: cover;
  }

  .m-featureImageSelector__popup__upload.is-hovering {
    border-color: green;
  }
</style>
