<div class="r-featureImageSelector"
      data-inputId="txt-featured-image"
      data-selectImageId=""
      data-selectedImageThumbnail=""></div>

<input type="text" id="txt-featured-image" />

<div>
  <% @graphic.each do |g| %>
    <%= image_tag g.background_image_thumbnail.try(:remote_url),
                      class: 'listing__image' %>
  <% end %>
</div>
