<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main c-content-box__main--text-focus">
      <div class="c-content-box__main__container">

        <% if !@grouping.graphic.nil? %>
          <figure class="st-image st-image--inline">
            <img src="<%= @grouping.graphic.background_image_960.remote_url() %>"
                alt="<%= @grouping.title %>" />
          </figure>
        <% end %>

        <h1>Grouping: <%= @grouping.title %></h1>
        <h2>Type: <%= @grouping.group_type %></h2>
      </div>
    </section>
  </main>
</div>
