<section class="c-audio-player js-audio-player">
  <audio src="<%= audio.file.remote_url %>" preload="metadata"></audio>

  <div class="c-audio-player__big-button">
    <button class="play" aria-label="Play recording" data-eventcategory="Audio Player" data-eventaction="Play/Pause" data-eventlabel="<%= title %>">
      <span class="left"></span>
      <span class="right"></span>
    </button>
  </div>

  <input type="range" id="seek" value="0" max="" class="c-audio-player__progress-bar js-audio-player--progress"  aria-label="Recording progress" />

  <div class="c-audio-player__times">
    <span class="c-audio-player__times__played js-audio-player--played">00:00</span>
    <span class="c-audio-player__times__total js-audio-player--length">##:##</span>
  </div>
</section>
