<%= content_tag( :div, class: 'c-internal-nav', id: "section:#{current.parameterize}") do %>
  <ul class="c-internal-nav__list">
    <% sections.each do |s| %>
    <li class="c-internal-nav__item">
      <%= link_to(s, "#section:#{s.parameterize}", class: "c-internal-nav__link #{'c-internal-nav__link--active' if current.parameterize == s.parameterize}")%>
    </li>
    <% end %>
  </ul>
<% end %>
