<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4.30pm in New Hunt's House (Guy's Campus, Newcomen Street, SE1 1UL)</h2>
        <a href="https://goo.gl/maps/zrP9SfbiRZH2" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>
</div>
