<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4.30pm in Willcox House (140–148 Borough High Street, SE1 1LB)</h2>
        <a href="https://www.google.co.uk/maps/place/140-148+Borough+High+St,+London+SE1" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>
</div>
