<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <% if @sunday_service %>
          <h2><%= @sunday_service.start_datetime.to_formatted_s(:just_time)  %> in <%= @sunday_service.address %></h2>
          <a href="https://www.google.com/maps?hl=en&q=<%= u @sunday_service.address %>" class="u-link u-link--arrowed u-link--black">
            <%= svg_tag('map') %>
            <span>View on a map</span>
          </a>
        <% else %>
          <h2>The Globe Church meets every Sunday near London Bridge</h2>
          <a href="/calendar" class="u-link u-link--arrowed u-link--black">
            <span>Find out more</span>
          </a>
        <% end %>
      </div>
    </main>
  </section>
</div>
