<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this this Sunday at 4.30pm</h1>
        <h2>We normally meet on Guy's Campus, but this week we're meeting at Wilcox House, 140-148 Borough High Street…</h2>
        <a href="https://www.google.co.uk/maps/place/140-148+Borough+High+St,+London+SE1" target="_blank" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>See a map</span>
        </a>
      </div>
    </main>
  </section>
</div>
