<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Christmas time</h1>
        <h2>Over the next few weeks we're going to in different venues…</h2>
        <a href="http://globe.church/resources/where-to-find-the-globe-church-this-christmas" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>Where to find us this Christmas</span>
        </a>
      </div>
    </main>
  </section>
</div>
