<ul class='c-people'>

  <% for p in people %>
    <li class="c-person">

      <% if p.page.present? && p.biography.present? %>
      <a href="<%= person_path(p) %>" class="c-person__link">
      <% end %>
        
        <% if p.avatar_150 %>
          <div class="c-person__img">
            <%=
              responsive_image_tag(
                {
                  "150": p.avatar_150.try('remote_url'),
                  "300": p.avatar_300.try('remote_url'),
                  "600": p.avatar_600.try('remote_url')
                },
                sizes: [
                  '(min-width: 500px) 33vw',
                  '(min-width: 768px) 150px',
                  '50vw'
                ],
                alt: p.display_name
              )
            %>
          </div>
        <% end %>

        <div class="c-person__info">
          <h3 href="#" class="c-person__name"><%= p.display_name %></h3>
          
          <% if p.job_title %>
          <span class="c-person__title"><%= p.job_title %></span>
          <% end %>
        </div>

      <% if p.page.present? && p.biography.present? %>
      </a>
      <% end%>

    </li>
  
  <% end %>

</ul>
