<section class="m-event-section-link">

    <a href="#" class="m-event-section-link__block">
      <%= responsive_image_tag({
                                 "320": asset_path("when-and-where/the-globe-church-service_320.jpg"),
                                 "640": asset_path("when-and-where/the-globe-church-service_640.jpg"),
                                 "960": asset_path("when-and-where/the-globe-church-service_960.jpg"),
                                 "1280": asset_path("when-and-where/the-globe-church-service_1280.jpg"),
                                 "1920": asset_path("when-and-where/the-globe-church-service_1920.jpg"),
                                 "2560": asset_path("when-and-where/the-globe-church-service_2560.jpg"),
                               },
                               sizes: [
                                 '(min-width: 500px) 33vw',
                                 '100vw'
                               ],
                               class: "c-churchValue__background__img",
                               alt: "") %>

      <h1 class="m-event-section-link__block__title">Sundays</h1>
      <h2 class="m-event-section-link__block__subtitle">Church Service</h2>
    </a>

    <a href="#" class="m-event-section-link__block">
      <%= responsive_image_tag({
                                 "320": asset_path("static-banner/church_320.jpg"),
                                 "640": asset_path("static-banner/church_640.jpg"),
                                 "960": asset_path("static-banner/church_960.jpg"),
                                 "1280": asset_path("static-banner/church_1280.jpg"),
                                 "1920": asset_path("static-banner/church_1920.jpg"),
                                 "2560": asset_path("static-banner/church_2560.jpg"),
                               },
                               sizes: [
                                 '(min-width: 500px) 33vw',
                                 '100vw'
                               ],
                               class: "c-churchValue__background__img",
                               alt: "") %>

      <h1 class="m-event-section-link__block__title">Globe Focus</h1>
      <h2 class="m-event-section-link__block__subtitle">Small Group Bible Studies</h2>
    </a>

    <a href="#" class="m-event-section-link__block">
        <%= responsive_image_tag({
                                  "320": asset_path("when-and-where/the-globe-church-prayer_320.jpg"),
                                  "640": asset_path("when-and-where/the-globe-church-prayer_640.jpg"),
                                  "960": asset_path("when-and-where/the-globe-church-prayer_960.jpg"),
                                  "1280": asset_path("when-and-where/the-globe-church-prayer_1280.jpg"),
                                  "1920": asset_path("when-and-where/the-globe-church-prayer_1920.jpg"),
                                  "2560": asset_path("when-and-where/the-globe-church-prayer_2560.jpg"),
                                },
                                sizes: [
                                  '(min-width: 500px) 33vw',
                                  '100vw'
                                ],
                                class: "c-churchValue__background__img",
                                alt: "") %>

      <h1 class="m-event-section-link__block__title">Globe Central</h1>
      <h2 class="m-event-section-link__block__subtitle">Prayer Gathering</h2>
    </a>

    <ul class="m-event-section-link__additional-nav">

        <li>
            <a href="#">Next Seven Days</a>
        </li>

        <li>
            <a href="#">Further Ahead</a>
        </li>

    </ul>

</section>

