<div class="site-container">

  <section class="c-content-box">

    <main class="c-content-box__main">
      <% if @event.description %>
      <div class="c-content-box__main__container">
        <%= markdown(@event.description) %>
      </div>
      <% end %>

      <ul class="c-content-box__aside">
        <% @event.event_instances.where("end_datetime >= ?", Time.now).each do |instance| %>
          <li>
            <strong><%= instance.title %></strong><br />
            <%= instance.start_datetime.to_formatted_s(:short_ordinal) %><br />
            <a href="<%= instance.instance_path %>">
              Find out more…
            </a><br /><br />
          </li>
        <% end %>
      </ul>
    </main>
  </section>
</div>
