<figure class="st-video">
  <div class="st-video__container">
    <iframe src="//player.vimeo.com/video/<%= vimeo.remote_id %>?title=1&amp;byline=1&amp;portrait=1&amp;autoplay=0" width="640" height="360" frameborder="0" allowfullscreen></iframe>
  </div>
</figure>
