<figure class="st-video">
  <div class="st-video__container">
    <iframe src="//www.youtube.com/embed/<%= youtube.remote_id %>?wmode=transparent" frameborder="0" allowfullscreen></iframe>
  </div>
</figure>
