.m-admin-header {
  background-color: #282938;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 75px;

  &--menu {
    color: white;
    transition: color 0.2s;
    padding: 10px;
    width: 75px;

    &:hover {
      color: #d06348; 
    }

    svg {
      height: 55px;
      width: 55px;
    }
  }

  &--logo {
    color: white;
    padding: 10px;
    transition: color 0.1s;

    svg {
      max-height: 55px;
      max-width: 205px;
      width: 100%;
    }

    &:hover {
      color: lighten(#d06348, 30);
    }
  }

  &--user {
    padding: 8px;

    img {
      border: 1px solid white;
      border-radius: 50%;
      width: 55px;
      height: 55px;
    }

    ul {
      list-style: none;
    }

    li {
      border-bottom: 1px solid white;
      margin: 0;
      padding: 5px;

      &:last-child {
        border-bottom: none;
      }
    }

    a {
      display: block;
      text-decoration: none;
    }

    &--subnav {
      background-color: lighten(#292938, 10);
      display: none;
      font-weight: 100;
      letter-spacing: 1px;
      min-width: 150px;
      padding: 10px;
      position: absolute;
      right: 0;
      text-align: left;
      top: 65px;
      z-index: 5;
    }

    &:hover {
      background-color: lighten(#292938, 10);
      .m-admin-header--user--subnav {
        display: block;
      }
    }
  }
}
