.m-admin-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  top: 75px;
  overflow: hidden;

  &--main {
    overflow-x: scroll;
    padding: 10px;
    width: 75%;
  }

  &--sidebar {
    padding: 10px;
    width: 25%;
    border-left: 1px solid black;
  }
}
