<div class="site-container">
</div>

<br /> <br />

<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>The Globe Church Live Stream</h1>
        <h2>For the next few weeks we are unable to meet as normal…</h2>
        <p>Church is about gathering together as God’s people. We think that is a precious and wonderful thing. There are occasions when gathering is not possible and at those times a livestream can help us until we can gather again. We hope this livestream of our service can serve you in that way. This will never be able to replace the gathering, it is not as good as the gathering, but as a short term solution it can help us as a church family. We hope you will find it a blessing to join with us.</p>
        <ul>
          <li>8.30am everyday Monday to Friday</li>
          <li>4.30pm every Sunday</li>
        </ul>
        <p>After each service, <a href="https://one21.org">One21</a> will have discussion questions so you can continue to talk through what you're hearing in the sermon.</p>
      </div>
    </main>
  </section>

  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Previous streams</h1>
        <ul>
          <% @previous_streams.each do |item| %>
          <li>
            <%= link_to "#{l item.live_at.to_time, format: :long}", "https://www.youtube.com/watch?v=#{item.youtubeId}", target: "_blank", rel: "noopener" %>
          </li>
          <% end %>
        </ul>
      </div>
    </main>
  </section>
</div>

<%= render('/resources/podcast_link') %>
