<!--
<section class="c-banner c-banner--video">
  <iframe class="c-banner__img" src="<%=@stream_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
-->
<div class="site-container">
</div>

<br /> <br />

<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>The Globe Church Live Stream</h1>
        <h2>For the next few weeks we are unable to meet as normal…</h2>
        <p>Our regular venue have have cancelled our bookings until the beginning of May at least. So we need to be creative! On Sunday's we are planning to have two much smaller services in Globe Space - one at 2pm and then followed by one at 4.30pm. We are also going to stream the service line at 4.30pm so that people can watch from home - or in much smaller groups in homes. In light of the government advice we think it is better if most people do not come to the central service - but want to provide opportunity for those who would value it. For some people having no access to others will be extremely hard and we want to provide safe and simple ways to do that. Obviously if the government line changes then we will have to adapt.</p>
        <p>After each service, <a href="https://one21.org">One21</a> will have discussion questions so you can continue to talk through what you're hearing in the sermon.</p>
      </div>
    </main>
  </section>
</div>

<%= render('/resources/podcast_link') %>
