<section class="c-description-box c-description-box--sockeye" id="jesus">
  <div class="site-container c-description-box__inner">
    <div class="c-description-box__side">
      <%# <img src="/assets/img/blocks/vision-box/img/jonty-960.jpg" srcset="/assets/img/blocks/vision-box/img/jonty-320.jpg 320w,/assets/img/blocks/vision-box/img/jonty-640.jpg 640w,/assets/img/blocks/vision-box/img/jonty-960.jpg 960w,/assets/img/blocks/vision-box/img/jonty-1280.jpg 1280w,/assets/img/blocks/vision-box/img/jonty-1920.jpg 1920w,/assets/img/blocks/vision-box/img/jonty-2560.jpg 2560w,"
          alt="The Globe Church is all about Jesus…" class="c-description-box__img" /> %>
    </div>

    <div class="c-description-box__content">
      <h1 class="c-description-box__title">
          The Globe Church is all about Jesus…
      </h1>

      <p>We’re a church that proclaims the good news of Jesus Christ. Whether you are passing through London for a weekend, or living locally in Southwark when you come to The Globe Church you’re going to hear the Bible preached.</p>
  
      <p>
        <%= link_to('Find out more', page_path('about/jesus'), class: 'u-btn u-btn--arrowed') %>
      </p>
    </div>
  </div>
</section>

<section class="c-description-box c-description-box--gold-braid c-description-box--flipped" id="people">
  <div class="site-container c-description-box__inner">

    <div class="c-description-box__side">
      <%# <img src="/assets/img/blocks/vision-box/img/people-960.jpg" srcset="/assets/img/blocks/vision-box/img/people-320.jpg 320w,/assets/img/blocks/vision-box/img/people-640.jpg 640w,/assets/img/blocks/vision-box/img/people-960.jpg 960w,/assets/img/blocks/vision-box/img/people-1280.jpg 1280w,/assets/img/blocks/vision-box/img/people-1920.jpg 1920w,/assets/img/blocks/vision-box/img/people-2560.jpg 2560w,"
          alt="Made up of all sorts of people" class="c-description-box__img" /> %>
    </div>

    <div class="c-description-box__content">
      <h1 class="c-description-box__title">
          Made up of all sorts of people
      </h1>
      <p></p>
      <p>
        <%= link_to('Find out more', page_path('about/people'), class: 'u-btn u-btn--arrowed') %>
      </p>
    </div>
  </div>
</section>

<section class="c-description-box c-description-box--lark-green" id="mission">

  <div class="site-container c-description-box__inner">
    <div class="c-description-box__side">
      <%# <img src="/assets/img/blocks/vision-box/img/mission-960.jpg" srcset="/assets/img/blocks/vision-box/img/mission-320.jpg 320w,/assets/img/blocks/vision-box/img/mission-640.jpg 640w,/assets/img/blocks/vision-box/img/mission-960.jpg 960w,/assets/img/blocks/vision-box/img/mission-1280.jpg 1280w,/assets/img/blocks/vision-box/img/mission-1920.jpg 1920w,/assets/img/blocks/vision-box/img/mission-2560.jpg 2560w,"
          alt="Involved in the greatest mission" class="c-description-box__img" /> %>
    </div>

    <div class="c-description-box__content">
      <h1 class="c-description-box__title">
        Involved in the greatest mission
      </h1>
      <p>Borough in London is where we met as a church family, and we are called to share the good news of Jesus Christ to the people there…</p>
      <p>
        <%= link_to('Find out more', page_path('about/mission'), class: 'u-btn u-btn--arrowed') %>
      </p>
    </div>
  </div>

</section>
