<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main--text-focus">
        <div class="c-content-box__main__container">
          <p>Perhaps it goes without saying, Christmas this year is going to be different…but that doesn't mean Christmas is cancelled.</p>
          <p>We invite you to enjoy the wonder of Christmas in a 30 minute celebration of the unique hope that is found in Jesus.</p>
          <p>Featuring classic Christmas carols, poignant storytelling, and a few moments to pause and experience the excitement of Christmas afresh.</p>
        </div>
      </div>

      <aside class="c-content-box__aside">
        <ul class="c-icon-list">

          <li class="c-icon-list__item">
            <a>
              <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
              <span>
                Tues 15th Dec<br />
                Wed 16th Dec<br />
                Thurs 18th Dec<br />
              </span>
            </a>
          </li>

          <li class="c-icon-list__item">
            <a>
              <%= svg_tag('clock', class: 'c-icon-list__item__icon') %>
              <span>
                7.30pm
              </span>
            </a>
          </li>
        </ul>

        <a href="/live" class="u-btn u-btn--dark u-btn--block" target="_blank">Watch now</a>
      </aside>

    </main>
  </section>

</div>
