<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main__container">
        <h1>Join us this Sunday</h1>
        <h2>4pm at Wilcox House, 140-148 Borough High Street</h2>
        <a href="#" class="u-link u-link--arrowed u-link--black">
          <%= svg_tag('map') %>
          <span>View on a map</span>
        </a>
      </div>
    </main>
  </section>
</div>

<%= render('/shared/internal_nav',
           sections: ['Join us on Sunday', 'Pray with us', 'Membership', 'Trainee scheme'],
           current: 'Membership') %>

<section class="c-content-box">

  <header class="c-content-box__header">
    <%# <img src="/assets/img/templates/series-and-resources/img/series-and-resources-banner-960.jpg" srcset="/assets/img/templates/series-and-resources/img/series-and-resources-banner-320.jpg 320w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-640.jpg 640w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-960.jpg 960w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-1280.jpg 1280w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-1920.jpg 1920w,/assets/img/templates/series-and-resources/img/series-and-resources-banner-2560.jpg 2560w,"
        alt="Membership" class="c-content-box__header__img" /> %>

    <div class="c-content-box__header__container">
      <h1 class="c-content-box__header__title">Membership</h1>
      <h2 class="c-content-box__header__subtitle">Committing, needing, entrusting, giving</h2>
    </div>
  </header>

  <main class="c-content-box__main c-content-box__main--text-focus">

    <div class="c-content-box__main__container">

      <p>The Bible uses several pictures of the church to illustrate the idea of membership. For example, the parts of a body, bricks in a building, soldiers in an army and perhaps most powerfully members of one family. These pictures all contain the
          idea of belonging, it is much more than attending. Church isn’t supposed to be a spectator sport. It is much more of a family who are all involved in different ways to make the family work properly.</p>

      <p>Therefore we believe that anyone who is trusting Jesus and has decided to make Globe church their home is a member of the family.</p>

      <p>We then encourage those who are members at the Globe Church to express that membership publicly by becoming part of our formal membership. It can be really easy to float around various churches in London and we think that is unhelpful. Membership
          expresses a commitment to one local church family. It is also legally how we are constituted. There are regular church members meetings and any changes in church leadership need to be agreed by a vote of the membership.</p>

      <p>Becoming a member means simply filling in a form that contains these four ideas:</p>

      <p>
        <ol>
          <li>I commit (this is my church family)</li>
          <li>I need (I can’t go it alone)</li>
          <li>I entrust (I want this church to look out for me)</li>
          <li>I give (I want to be involved in the mission)</li>
        </ol>
      </p>

      <p>Membership forms can be found at the back of church. If you are interested then fill in a form or chat to one of the elders.</p>

    </div>

  </main>
</section>
