<section class="c-content-box">
  <main class="c-content-box__main">

    <div class="c-content-box__main__container">
      <h2 class="c-content-box__header__subtitle">Who are we?</h2>
      <p>The Globe Church is an church in Southwark, London. We are affiliated to the Fellowship of Evangelical Students and Co-Mission. Our registered address is <em>The Globe Church, 11 Sumner Buildings, Sumner Street, Southwark, London, SE1 9JX</em>.</p>

      <h2 class="c-content-box__header__subtitle">Your privacy</h2>
      <p>We want to respect you and that way that you want to be communicated to by The Globe Church, in accordance with the General Data Protection Regulations 2018. We are committed to protecting the privacy of any personal information that you share with us.</p>

      <h2 class="c-content-box__header__subtitle">What is personal information?</h2>
      <p>Personal information covers any data that enables us to identify you as an individual. This could include, name, email address, phone number, etc. This data is given when subscribing to our newsletter, becoming a member of the church, completing a 'stay in touch' card, etc.</p>

      <h2 class="c-content-box__header__subtitle">How do we use your personal information?</h2>
      <p>Your personal information is used in two ways:</p>
      <ul>
        <li>To keep you updated about what is happening in the life of the church through newsletters, etc</li>
        <li>To help the smooth running of church in administration of teams and groups.</li>
      </ul>
      <p>When you supply personal information to us, we only use this information for the purpose for which it was given and ensure that it is kept securely.</p>

      <h2 class="c-content-box__header__subtitle">Where is your data held?</h2>
      <p>As church we use two tools to hold personal data:</p>
      <ul>
        <li><strong>ChurchSuite</strong>- addresses, communication, rotas and focus group data. <a href="https://churchsuite.com/privacy-policy" target="_blank">You can view the ChurchSuite privacy policy here</a>.</li>
        <li><strong>MailChimp</strong>- for mass email communication to church. <a href="https://mailchimp.com/legal/privacy/" target="_blank">You can view the MailChimp privacy policy here</a>.</li>
      </ul>
      <p>Your information will never be passed to third parties for marketing purposes.</p>

      <h2 class="c-content-box__header__subtitle">Unsubscribing</h2>
      <p>You can unsubscribe or request to remove your information from our records by</p>
      <ul>
        <li>A link at the bottom of each email newsletter</li>
        <li>Emailing the church office info@globe.church</li>
      </ul>

      <h2 class="c-content-box__header__subtitle">Non-personal information</h2>
      <p>Our website collects analytics about how the site is used (which pages are visited, how long they are visited for, etc) through a tool called Google Analytics. All of this data is completely anonymous.</p>

      <h2 class="c-content-box__header__subtitle">Contact us</h2>
      <p>If you have any questions or concerns regarding this policy, or the way your data is processed please contact the church. You can also request to know the information that we hold on you, how it is being processed, or request for your information to be erased. Our email address is: info@globe.church</p>
      <p>If you need to update your details you can update your own information through <a href="https://globe.churchsuite.co.uk" target="_blank">MyChurchSuite</a> or you can email the church office: info@globe.church.</p>
    

    </div>
  </main>
</section>
