<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main c-content-box__main--text-focus">
      <div class="c-content-box__main__container">
        <p>We love having students at The Globe Church. Globe is a lively and diverse church in the heart of London. We meet near London Bridge and enjoy welcoming students from across London, including Kings College, Queen Mary, Guildhall and more. We’re passionate about you getting to know and love God better, and through that serve Him more eagerly.</p>
        <p>Keep reading to find out more about the church, but if you've got quesitons, or just want us know you’re heading to London, please get in touch by emailing <a href="mailto:students@globe.church">students@globe.church</a>.</p>
      </div>
    </main>
  </section>
</div>

<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main--text-focus">
        <div class="c-content-box__main__container">
          <h2>Sundays</h2>
          <p>Whether you’ve just moved to London, or just started investigating Christianity or been a Christian for a while and haven’t yet found a London church family, we’d love to welcome you to our Sunday service.</p>
          <p>You can find out the times and locations for our Sunday gatherings on the <a href="/events">church calendar</a>.</p>
        </div>
      </div>

      <aside class="c-content-box__aside">
        <ul class="c-icon-list">

          <li class="c-icon-list__item">
            <a>
              <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
              <span>
                Every Sunday
              </span>
            </a>
          </li>

        </ul>

        <a href="/events" class="u-btn u-btn--dark u-btn--block">Find out more</a>
      </aside>

    </main>
  </section>

  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main--text-focus">
        <div class="c-content-box__main__container">
          <h2>Midweek Student Groups</h2>
          <p>We meet for our student small groups, Student Focus, each Tuesday evening. Student Focus is a great opportunity to get to know fellow students, get into God’s Word, and hear about opportunities to serve Jesus at The Globe Church, in our community, and beyond.</p>
          <p>Please talk to a member of the student team on Sundays, or <a href="/contact">email the church office</a> to find out more</p>
        </div>
      </div>

      <aside class="c-content-box__aside">
        <ul class="c-icon-list">

          <li class="c-icon-list__item">
            <a>
              <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
              <span>
                Tuesdays<br />
                <small>except first in month for our monthly first Wednesday prayer meeting</small>
              </span>
            </a>
          </li>

        </ul>

        <a href="/events" class="u-btn u-btn--dark u-btn--block">Find out more</a>
      </aside>

    </main>
  </section>

  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main--text-focus">
        <div class="c-content-box__main__container">
          <h2>Adopt a Student</h2>
          <p>It’s so important that you feel at home at The Globe Church and that you know people from across the whole church family. To help you settle quickly we run ‘Adopt a Student’ which matches students with Globe church families, couples & housemates for termly catch ups, meals, etc throughout your time at uni.</p>
        </div>
      </div>

      <aside class="c-content-box__aside">

      </aside>

    </main>
  </section>

  <section class="c-content-box">
    <main class="c-content-box__main">
      <div class="c-content-box__main--text-focus">
        <div class="c-content-box__main__container">
          <h2>Student Getaway</h2>
          <p>Our annual student weekend away takes place every January. This is a great chance to get to know people better, dig deeper into a book or theme of the Bible, and generally just escape London for some fresh air & fun with friends! Look out for sign up information from November.</p>
        </div>
      </div>

      <aside class="c-content-box__aside">
        <ul class="c-icon-list">

          <li class="c-icon-list__item">
            <a>
              <%= svg_tag('calendar', class: 'c-icon-list__item__icon') %>
              <span>
                21–23 January 2022
              </span>
            </a>
          </li>

        </ul>

      </aside>

    </main>
  </section>

</div>
