<div class="site-container">
  <section class="c-content-box">
    <main class="c-content-box__main c-content-box__main--text-focus">
      <div class="c-content-box__main__container">

        <h1>Join The Globe Church's Week of Prayer</h1>
        <p>It has become our practice each year as we head into December to set aside a week on the calendar to call our church family to pray.</p>
        <p>Each year we have come together in the morning for breakfast, we have met in small groups and large gatherings when we could, individually on our own, setting time in our day to come before our God in praise and prayer.</p>
        <p>Will you commit to joining us this year? We pray it will be significant in developing our relationship with our Father.</p>

        <hr class="st-divider" />

        <form action="https://church.us14.list-manage.com/subscribe/post?u=3c53cfffa413d69cfa32538ca&amp;id=76f3512fc9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="c-form c-content-box__main__container" autocomplete="off">

          <h1>Commit to praying with us:</h1>
          <p>Each morning throughout the week of prayer you'll recieve an email with a reflection from the Bible and suggestions for how to pray in light of it for our world, nation, city and local area.</p>
          <p><span class="asterisk">*</span> indicates required</p>
          
          <div class="c-form__field">
            <label for="mce-EMAIL" class="c-form__label">Email Address  <span class="asterisk">*</span></label>
            <input type="email" value="" name="EMAIL" class="c-form__input" id="mce-EMAIL" autocomplete="off" autocorrect="off" placeholder="your@email.address">
          </div>

          <div class="c-form__field">
            <label for="mce-FNAME" class="c-form__label">First Name</label>
            <input type="text" value="" name="FNAME" class="c-form__input" id="mce-FNAME" placeholder="First name">
          </div>

          <div class="c-form__field">
            <label for="mce-LNAME" class="c-form__label">Family Name</label>
            <input type="text" value="" name="LNAME" class="c-form__input" id="mce-LNAME" placeholder="Family name">
          </div>

          <div class="c-form__field">
            <label for="mce-PLEDGE" class="c-form__label">I pledge to pray at…</label>
            <p>Over the course of the week we hope to pledge more than 60 hours of personal prayer. When could you commit to pray this week? Pledge as much or little as you can, but try and pray so that it feels like a lot. That might be 10 minutes for some, and 10 hours for others!</p>
            <input type="text" value="" name="PLEDGE" class="c-form__input" id="mce-PLEDGE" placeholder="Monday at 7pm">
          </div>

          <div class="c-form__field">

            <p class="c-form__label">Saturday Prayer Brunches… </p>
            <p>On Saturday 8th December we are hosting prayer brunches across the city. They will be precious time together where we can pray for each other and for Globe's Christmas events.</p>
            <ul class="c-form__inputlist">
              <li><input type="radio" value="Borough (Rajiv)" name="BRUNCH" id="mce-BRUNCH-0"><label class="c-form__list-label" for="mce-BRUNCH-0">Borough (Rajiv)</label></li>
              <li><input type="radio" value="Southbank (The Allcock's)" name="BRUNCH" id="mce-BRUNCH-1"><label class="c-form__list-label" for="mce-BRUNCH-1">Southbank (The Allcock's)</label></li>
              <li><input type="radio" value="Bermondsey (Emma)" name="BRUNCH" id="mce-BRUNCH-2"><label class="c-form__list-label" for="mce-BRUNCH-2">Bermondsey (Emma)</label></li>
              <li><input type="radio" value="Bermondsey (Lizzie &amp; Alice)" name="BRUNCH" id="mce-BRUNCH-3"><label class="c-form__list-label" for="mce-BRUNCH-3">Bermondsey (Lizzie &amp; Alice)</label></li>
              <li><input type="radio" value="Ealing (The Davis')" name="BRUNCH" id="mce-BRUNCH-4"><label class="c-form__list-label" for="mce-BRUNCH-4">Ealing (The Davis')</label></li>
            </ul>
          </div>

          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3c53cfffa413d69cfa32538ca_76f3512fc9" tabindex="-1" value=""></div>
          
          <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="u-btn u-btn--dark">

        </form>

      </div>

    </main>
  </section>

    <%= render('/shared/vision_box', uncontained: false) %>
</div>
