<div class="alert-banner alert-banner--<%= alert_type %>">
  <div class="site-container">
    <strong class="alert-banner__tag"><%= alert_tag %></strong>
    <span class="alert-banner__text"><%= alert_message %></span>
  </div>
</div>
