<section class="c-banner">
  <%= responsive_image_tag(banner['image'],
                           sizes: ['100vw'],
                           class: "c-banner__img",
                           alt: banner['title']) if banner['image'] %>
                           
  <div class="c-banner__text">

    <div class="site-container">
      <% if banner['pretitle'] %>
      <p class="c-banner__pretitle"><%= banner['pretitle'] %></p>
      <% end %>

      <% if banner['title'] %>
      <h1 class="c-banner__title"><%= banner['title'] %></h1>
      <% end %>

      <% if banner['subtitle'] %>
      <h2 class="c-banner__subtitle"><%= banner['subtitle'] %></h2>
      <% end %>
    </div>

  </div>
</section>
