<section class="c-banner">
  <%# <img src="/assets/img/globals/banner/img/southbank-960.jpg" srcset="/assets/img/globals/banner/img/southbank-320.jpg 320w,/assets/img/globals/banner/img/southbank-640.jpg 640w,/assets/img/globals/banner/img/southbank-960.jpg 960w,/assets/img/globals/banner/img/southbank-1280.jpg 1280w,/assets/img/globals/banner/img/southbank-1920.jpg 1920w,/assets/img/globals/banner/img/southbank-2560.jpg 2560w," alt="The Globe Church" class="c-banner__img" /> %>
  <div class="c-banner__text">

    <div class="site-container">
      <% if banner['pretitle'] %>
      <p class="c-banner__pretitle"><%= banner['pretitle'] %></p>
      <% end %>

      <% if banner['title'] %>
      <h1 class="c-banner__title"><%= banner['title'] %></h1>
      <% end %>

      <% if banner['subtitle'] %>
      <h2 class="c-banner__subtitle">A church for the Southbank</h2>
      <% end %>
    </div>

  </div>
</section>
