<footer class="c-footer site-container">

  <nav class="c-footer__meganav">
    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <a href="#">
          About the church
        </a>
      </h2>

      <ul class="c-footer-nav-list__items">
        <li class="c-footer-nav-list__item">
          <a href="#">
            Church leadership
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Doctrinal basis
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Affiliations
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Mission
          </a>
        </li>
      </ul>
    </div>

    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <a href="#">
          When &amp; where
        </a>
      </h2>

      <ul class="c-footer-nav-list__items">
        <li class="c-footer-nav-list__item">
          <a href="#">
            Sundays
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Midweek
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Calendar
          </a>
        </li>
      </ul>
    </div>

    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <a href="#">
          Series &amp; resources
        </a>
      </h2>

      <ul class="c-footer-nav-list__items">
        <li class="c-footer-nav-list__item">
          <a href="#">
            All series
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            All resources
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Latest sermon
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </div>

    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <a href="#">
          Get involved
        </a>
      </h2>

      <ul class="c-footer-nav-list__items">

        <li class="c-footer-nav-list__item">
          <a href="#">
            Pray
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Give
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Membership
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Focus
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Trainee scheme
          </a>
        </li>
      </ul>

    </div>

    <div class="c-footer-nav-list">
      <h2 class="c-footer-nav-list__title">
        <a href="#">
          Stay in touch
        </a>
      </h2>

      <ul class="c-footer-nav-list__items">
        <li class="c-footer-nav-list__item">
          <a href="mailto:info@globe.church">
            info@globe.church
          </a>
        </li>

        <li class="c-footer-nav-list__item">
          <a href="#">
            Church news
          </a>
        </li>
      </ul>
    </div>

  </nav>

  <div class="c-footer__extra">
    <div class="c-footer__copyright">
      <span>&copy; Copyright 2017 The Globe Church, London</span>
      <span>Registered Charity 1160195</span>
    </div>

    <div class="c-footer__affiliation">
      <%= svg_tag('comission-themed', { class: 'c-footer__affiliation__comisson' }) %>
      <%= svg_tag('fiec-themed', { class: 'c-footer__affiliation__fiec' }) %>
    </div>
  </div>

</footer>
