<header class="c-header">

  <%= svg_tag('tgc-logo-long', { class: 'c-header__logo' }) %>

  <h1 class="c-header__title">
      The Globe Church
  </h1>

  <a href="#" role="button" class="c-header__btn-menu js-navToggle">
    <span class="c-header__btn-menu__text">Menu</span>
    <span class="c-header__btn-menu__icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>

</header>
