<section class="c-podcast-promo">

  <header class="c-podcast-promo__header">
    <%= svg_tag('subscribe', class: 'c-podcast-promo__header__icon') %>
    <h1>Subscribe to the podcast</h1>
  </header>

  <main class="c-podcast-promo__body">
    <img src="/assets/podcast-cover-thumb.jpg" alt="Podcast artwork" />
    <p class="c-podcast-promo__body__lead">Sermons from The Globe Church</p>
    <p>Get Sunday's sermon in your podcatcher each week…</p>

    <div class="c-podcast-promo__body__list">
      <a target="_blank" rel="noopener" href="https://podcasts.apple.com/gb/podcast/the-globe-church-sermons/id1436294537" class="u-btn c-podcast-promo__body__list--apple">iTunes</a>
      <%# <a href="https://www.stitcher.com/podcast/the-globe-church/sermons-from-the-globe-church" class="u-btn c-podcast-promo__body__list--apple">Stitcher</a> %>
      <a target="_blank" rel="noopener" href="https://pca.st/21Vk" class="u-btn c-podcast-promo__body__list--other">Pocket Casts</a>
      <a target="_blank" rel="noopener" href="<%= sermon_podcasts_path(format: :rss) %>" class="u-btn c-podcast-promo__body__list--rss">RSS Feed</a>
    </div>
  </main>

</section>
