<div class="site-container">
  
  <% if @resource.resource_type == "recording" %>
    <%= render 'resources/recording' %>
  <% end %>
  
  <% if @resource.resource_type == "blog" %>
    <%= render 'resources/blog' %>
  <% end %>
  
</div>
