{% extends '/_layouts/base' %}

{% block header %}
  <h1>{{ entry.title }}</h1>
{% endblock %}

{% block content %}

{% if entry.recording.one() %}
<audio
    controls
    src="{{ entry.recording.one().url}}">
</audio>
{% endif %}


  <div>
    {% include '/_partials/utility/biblePassage' with { item: entry } %}
  </div>

  <a class="block border m-2 p-2" href="{{ entry.relatedSeries[0].url }}">
    Series: {{ entry.relatedSeries[0].title }}
  </a>
{% endblock %}
