{% set entries = craft.categories().
                 group('series').all() %}

{% extends '/_layouts/base' %}

{% block header %}
  Sermon series
{% endblock %}

{% block content %}


  {% nav category in entries %}
    <a class="block border m-2 p-2" href="{{ category.url }}">
      <h2>{{ category.title }}</h2>

      {% if category.leadImage.one() %}
      {{ category.leadImage.one().url }}
      {% endif %}

      {% include '/_partials/utility/rwdImg' with {
        img: category.leadImage.one() ?? null,
        imgSizes: [
          { width: 250, ratio: 1/1 },
          { width: 400, ratio: 1/1 },
        ],
        displaySizes: '400px',
        class: 'absolute w-full h-full object-cover',
        attributes: 'loading="lazy"'
      } %}
    </a>
  {% endnav %}

{% endblock %}
