.ani-slide {
  max-height: 1000px;
  overflow-y: hidden;
	transition-property: all;
	transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  
  &--closed {
    max-height: 0;
  }
}
