.ani-slide {
  transition: max-height 1s, opacity 0.5s, visibility 0.5s;
  max-height: 1000px;
  opacity: 1;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  
  &--closed {
    max-height: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
}
