<blockquote class="st-blockquote">
  <div class="st-blockquote__body">
    <% if quote_block.format == :html %>
      <%= sir_trevor_format quote_block.text, format: quote_block.format %>
    <% else %>
      <%= sir_trevor_markdown quote_block.text %>
    <% end %>
  </div>

  <% if quote_block.cite.present? %>
    <footer class="st-blockquote__footer">
    - <cite><%= quote_block.cite %></cite>
    </footer>
  <% end %>
</blockquote>
