<% if m.errors.any? %>
  <div class="m-admin-error">
    <h2><%= pluralize(m.errors.count, "error") %> prohibited this <%= m.class.to_s.downcase %> from being saved</h2>
    <ul>
    <% m.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
